* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  background-color: #ffe4aa;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 230px;
  padding-top: 50px;
}

.navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

.btn-primary {
  font-family: "Open Sans", sans-serif;
  background-color: #000000;
  color: #ffffff;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

nav h2{
  font-size: 45px;
  font-weight: 700;
}

nav h2 span{
  color: #ff0000;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 230px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 585px;
}

.hero-greeting {
  font-size: 30px;
  font-weight: 600;
}

.hero-title {
  font-size: 60px;
  font-weight: 700;
  margin: 20px 0;
}

.hero-description {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.contact-btn{
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
  padding: 18px 35px;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.hero-btn {
  display: flex;
  gap: 20px;
}